.message{
 margin-bottom: 10px;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

.messageText{
 margin: 0;
 display: inline;
 padding: 5px 10px;
 max-width: 300px;
 color: #fff;
 background-color: #033A92;
 border-radius: 15px;
}

.in{
 align-items: flex-start;
}

.in .messageText{
  border-bottom-left-radius: 0;
 }

.out{
 align-items: flex-end;
}

.out .messageText{
 border-bottom-right-radius: 0;
}