*, *:hover{
 box-sizing: border-box;
}

.aside{
 grid-area: as;
}

.asideItem {
 padding: 5px;
 text-decoration: none;
}

.asideItem a{
 text-decoration: none;
 color: #000;
}
.asideItem .activeLink{
 color: #033A92;
}
.asideItem:hover{
 border-radius: 5px;
 background-color: #fff;
}
.friends{
 margin-top: 50px;
}
.friendsTitle{
 color: #000;
}